@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fortawesome/fontawesome-free/css/all.css";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


@font-face {
    font-family: 'CS';
    src: url('/Webfonts/UncutSans-Regular.woff') format('truetype'),

  }

  @font-face {
    font-family: 'BS';
    src: url('/Webfonts/UncutSans-Bold.woff') format('truetype'),

  }
  @font-face {
    font-family: 'SBS';
    src: url('/Webfonts/UncutSans-SemiBold.woff') format('truetype'),

  }
  .stack {
    grid-template-areas:"stack";
  }
  .stackarea {

    grid-area: stack;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }

  /* Appliquer la barre de défilement fine pour tous les navigateurs */
  .scrollbar-thin::-webkit-scrollbar {
    width: 8px; /* Largeur fine de la barre de défilement */
  }
  .scrollbar-mid {
    -ms-overflow-style: red;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  h1{
    font-weight: 800;
         font-family: 'BS';
  }

  h2{
    font-size: 28px;
  }
  h3{
    font-size: 24px;
         font-family: 'SBS';
  }

  h2,h3,h4,h5,h6,li{
     font-family: 'CS';
  }

  .bg-zoom {
  background-size: 100%;
  transition: background-size 0.3s ease-in-out;
}

.bg-zoom:hover {
  background-size: 110%;
}